# Dependencies
node_modules/
pnpm-lock.yaml
bun.lock
yarn.lock

# Production
dist/
build/

# Environment
.env

.env.dev

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Testing
coverage/
playwright-report/
test-results/

# Temp
*.tmp
.cache/
nul
